<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form id="form" action="/cmdb/iframe" enctype="multipart/form-data"  method="post" target="ifr">
    <iframe id="ifm" name="ifr" style="display: none"></iframe>
    <input name="picture" type="file" onchange="btn()"/>
</form>
<div id="preview"></div>
<script src="/static/jquery.js"></script>
<script >
    function btn() {
          $('#ifm').load(function(){
                var text = $('#ifm').contents().find('body').text();
                var obj = JSON.parse(text);
                $('#preview').empty();
                var imgTag = document.createElement('img');
                imgTag.src = '/'+obj.file_path;
                $('#preview').append(imgTag);
            });
            $('#form').submit();
    }
</script>
</body>
</html>